<md-card ui-card-size="{{ me.item.width }}x{{ me.item.height }}" layout="{{ me.item.layout }}" layout-align="{{ me.item.layoutAlign }}" class="nr-dashboard-text" ng-class="{'nr-dashboard-disabled':me.item.disabled}">
    <div class="videogular-container">
      	<videogular vg-theme="me.video.config.theme">
        		<vg-media vg-src="me.video.config.sources"
        				  vg-tracks="me.video.config.tracks"
        				  vg-native-controls="true">
        		</vg-media>
      	</videogular>
    </div>
</md-card>
